<!-- inicio componente Cabecera -->
<app-cabecera></app-cabecera>
<!-- fin componente Cabecera -->
<main class="container-fluid">
  <section class="widgets row">
    <ul class="widgets-list list-unstyled col">
      <!-- inicio componente WidgetTransferencia -->
      <app-widget-transferencia class="widget"></app-widget-transferencia>
      <!-- fin componente WidgetTransferencia -->
      <!-- inicio componente WidgetEspacio -->
      <app-espacio class="widget"></app-espacio>
      <!-- fin componente WidgetEspacio -->
      <!-- inicio componente WidgetBuzones -->
      <app-buzones class="widget"></app-buzones>
      <!-- fin componente WidgetBuzones -->
      <!-- inicio componente WidgetFTP -->
      <app-widget-ftp class="widget"></app-widget-ftp>
      <!-- fin componente WidgetFTP -->
      <!-- inicio componente WidgetBD -->
      <app-widget-bd class="widget"></app-widget-bd>
      <!-- fin componente WidgetBD -->
      <!-- inicio componente WidgetFirewall -->
      <app-widget-fire-wall class="widget"></app-widget-fire-wall>
      <!-- fin componente WidgetFirewall -->
    </ul>
  </section>
</main>
<footer class="pie container-fluid">
  <div class="row">
    <div class="col">Copyright 2023</div>
  </div>
</footer>
